html
   head 
       script(src='scripts/jquery-1.7.1.min.js', type='text/javascript') 
       script(src='scripts/jquery.validate.js', type='text/javascript')
       link(rel='StyleSheet', href='styles.css', type='text/css')
       script(type="text/javascript")       
                   $(document).ready(function(){
                       $("#loginfrm").validate(); 
                       $("#registerfrm").validate();
                   });
                   function register(){
                           $("#register").css({'visibility':'visible'});
                   }
   body
        #login
                form(action="game", id="loginfrm" , method="post")
                        | Username:
                        input(type="text", name="name",class="required", minlength="4" )
                        br 
                        | Password:
                        input(type="password", name="password", class="required", minlength="4")
                        br
                        input(type="submit", class="submit", value="login",name="submit")  
                        | or
                        input(type="button", value="register", onclick="register();")
                   div!= access
         #register 
                 form(action="game",method="post",id="registerfrm")
                         | Username 
                         input(type="text",name="name",class="required", minlength="4")
                         br
                         | Password: 
                         input(type="password",id="password", name="password" ,class="required", minlength="4")
                         br
                         | Confirm Password: 
                         input(type="password", id="confirm_password",name="confirm_password",class="required", minlength="4", equalTo="#password")
                         br
                         input(type="submit",name="submit",class="submit",value="register");



