#arena
{
 background: transparent url(images/desert.jpg) 0 0 no-repeat; 
 position:relative;
 width:650px;
 height:650px;
 margin-left:250px;
 margin-top:1px;
 z-index:-1;
}
#roomdiv
{
position:absolute;
top:10px;
left:20px;
}
#chatdiv
{
position:absolute;
top:120px;
left:920px;
background-color:yellow;
}
#welcome
{
 position:absolute;
 top:180px;
 left:20px;
}
#status
{
 position:absolute;
 top:200px;
 left:20px;
}
#usersdiv
{
position:absolute;
left:20px;
top:50px;
width:170px;
}
#msgdiv
{ 
float:left;
margin-left:920px;
margin-top:160px;
width:200;
}
#pone
{
background: transparent url(images/pone.png) 0 0 no-repeat;
left:0px;
position:absolute;
width:50px;
height:50px;
margin:0px;
bottom:0px;
}
#ptwo
{
background: transparent url(images/ptwo.png) 0 0 no-repeat;
left:600px;
position:absolute;
width:50px;
height:50px;
margin:0px;
bottom:0px;
}
.block
{
background: transparent url(images/skull.png) 0 0 no-repeat;
position:absolute;
width:50px;
height:50px;
margin:0px;
}
#ponebomb
{
background: transparent url(images/explosion1.png) 0 0 no-repeat;
position:absolute;
width:50;
height:50;
}
#ptwobomb
{
background: transparent url(images/explosion1.png) 0 0 no-repeat;
position:absolute;
width:50;
height:50;
}
.cactus
{
background: transparent url(images/cactus.png) 0 0 no-repeat;
position:absolute;
position:absolute;
width:50px;
height:50px;

}
.bomb
{
background: transparent url(images/explosion1.png) 0 0 no-repeat;
position:absolute;
width:50;
height:50;
}
#hat
{
background: transparent url(images/mexicanhat.png) 0 0 no-repeat;
position:absolute;
width:50;
height:50;
}
#saloon
{
background: transparent url(images/saloon.png) 0 0 no-repeat;
position:absolute;
width:50;
height:50;
}

/* login.html */
#login
{
position:absolute;
top:150px;
left:400px;
}
#register
{
visibility:hidden; 
position:absolute;
top:400px;
left:400px;
}
#label
{
width: 8em; float: left;
}


